<!DOCTYPE html>
<html>
<head>
  <title>EcommerceHooks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
  <body>
    
    <nav class="top-shelf">
      <div class="left-shelf">
        <a href="/" class="shelf-item">EcommerceHooks</a>
      </div>

      <section class="right-shelf">
        <%- if current_user -%>
          <div class="shelf-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
        <%- else -%>
          <div class="shelf-item"><%= link_to 'Sign Up', new_user_registration_path %></div>
          <div class="shelf-item"><%= link_to 'Sign In', new_user_session_path %></div>
        <%- end -%>
      </section>
    </nav>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    
    <%- if Rails.env.development? || Rails.env.test? -%> 
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>
    
    <%= yield :extra_footer %>
  </body>
</html>
